img {
    max-width:100%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url(CMBYN_Glasses.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    overflow-y: hidden;
}

@font-face {
    font-family: AppleGaramondLight;
    src: url(AppleGaramondLight.ttf)
}

@font-face {
    font-family: Arial;
    src: url(Arial.TTF)
}

@font-face {
    font-family: ArialItalic;
    src: url(ArialItalic.TTF)
}

.p1 {
    font-family: AppleGaramondLight;
    color: black;
    font-size: 22px;
    font-weight: 400;
}

.p2 {
    font-family: Arial;
    color: black;
    font-size: 16px;
    text-align: left;
    line-height: 1.25rem;
}

.p3 {
    font-family: ArialItalic;
    color: black;
    font-size: 16px;
    text-align: center;
    display: block;
}

.p4 {
    font-family: AppleGaramondLight;
    color: black;
    font-size: 80px;
}

.main {
    background-image: url(CMBYN_Pool.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    /* background: yellow; */
    height: 100vh;
    

    display: flex;
    flex-direction: column;
}

.top {
    background: white;
    height: 40px;

    border-bottom: 1px solid black;
}

.top:hover {
    background: rgb(230, 230, 230);
}

.marqueeitem1 {
    position: fixed;
    right: 0;
    /* background: yellow; */
    min-width: 475px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    animation: marquee;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.marqueeitem2 {
    position: fixed;
    right: 0;
    /* background: yellow; */
    min-width: 475px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    animation: marquee;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: -3.3s;
}

.marqueeitem3 {
    position: fixed;
    right: 0;
    /* background: yellow; */
    min-width: 475px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    animation: marquee;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: -6.6s;
}

@keyframes marquee {
    0% {
        right: -25%;
    }
    100% {
        right: 100%;
    }
}

.bottom {
    /* background: lightpink; */
    height: calc(100vh - 40px);

    display: flex;
    flex-direction: row;
}

.leftpanel {
    background: white;
    width: 320px;

    border-right: 1px solid black;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.drawer {
    /* background: plum; */
    height: 40px;
    border-top: 1px solid black;

    display: flex;
    align-items: center;
    padding-left: 10px;

    user-select: none;
}

.drawerhover:hover {
    background: rgb(230, 230, 230);
    cursor: pointer;
}

.rightpanel {
    /* background: lightseagreen; */
    width: calc(100% - 320px);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.shirtcontainer {
    /* background: blue; */
    width: 700px;
    height: 700px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.research {
    background: white;
    border-right: solid black 1px;
    width: 100%;
    height: 100%;
    display: none;

    position: relative;
    overflow-y: scroll;

    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.about {
    background: white;
    border-right: solid black 1px;
    width: 100%;
    height: 100%;
    display: none;

    position: relative;
    overflow-y: scroll;

    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.xout {
    width: 25px;
    height: 25px;
    background: white;
    border: 1px solid black;
    position: absolute;
    right: 10px;
    top: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding-bottom: 3px;
    user-select: none;
}

.xout:hover {
    cursor: pointer;
}

.mobilegif {
    display: none;
}

.mobiletitle {
    display: none;
}

@media screen and (max-width:1100px) {

.marqueeitem2 {
    animation-delay: -5s;
}

.marqueeitem3 {
    visibility: hidden;
}

}

@media screen and (max-width:700px) {

.top {
    display: none;
}

.bottom {
    height: 100vh;
    flex-direction: column;
}

.rightpanel {
    display: none;
}

.leftpanel {
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    justify-content: center;
    background-image: url(Colton_Twinks.jpg);
}

.mobiledrawer {
    display: none;
}

.mobileorder {
    background: white;
}

.mobilegif {
    display: block;
    background: white;
}

.mobiletitle {
    display: block;
    border-bottom: black solid 1px;
    background: white;
    display: flex;
    align-items: center;
}

}

a:link {
    color: black;
}
  
a:visited {
    color: black;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}